
/* Layout-related Classes */

.horizontal {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
}

.vertical {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.fill {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
}

/* Basic Page Look-and-Feel */

body {
    text-align: left;
    font-family: Helvetica;
    color: #555555;
    background-color: #cccccc;
}

h1 {
    font-size: 35px;
    display: inline-block;
    margin: 5px;
}

h1 a {
    text-decoration: none;
    color: #555555;
}

h1 a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 15px;
    color: #555555;
    font-weight: normal;
    display: inline-block;
    margin: 5px;
}

h3 {
    font-size: 15px;
    margin-bottom: 15px;
}

h3 a:visited {
    /* color: #000000; */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

ul li:last-child {
    border-bottom: none;
}

ul li a:hover {
    background: #eeeeee;
    border-radius: 5px;
}

label {
    font-weight: bold;
    font-size: 15px;
    margin: 5px;
    margin-right: 0px;
}

input[name=title] {
    width: 250px;
    margin: 5px;
}

textarea[name=text] {
    height: 300px;
    font-size: 15px;
    float: right;
}

button {
    margin: 5px;
}

select {
    margin: 5px;
}

/* Styles for particular UI elements */

#confirmation-message {
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
}

#login-dialog td {
    padding: 7px;
}

#signup-dialog td {
    padding: 7px;
}

#dialog-button-bar {
    float: right;
    padding: 7px;
}

#topbar {
    height: 45px;
    /* background-color: red; */
    background-color: #f6a828;
}

#leftbar {
    width: 180px;
    background-color: #f6a828;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

#rightbar {
    width: 100px;
    height: 200px;
    background-color: #eeeeee;
    margin: 5px;
    padding: 5px;
    display: none;
}

#logo {
    float: left;
}

#about-div {
    float: right;
    margin: 5px;
}

#user {
    float: right;
    margin: 5px;
}

#main {
    /* background-color: green; */
}

#app {
    /* background-color: lightgreen; */
}

#chart {
    min-width: 100px;
    min-height: 100px;
    margin: 5px;
}

#text {
    min-width: 100px;
    min-height: 100px;
}

#library {
}

#errors {
    min-width: 100px;
    height: 36px;
    padding: 5px;
    margin: 5px;
    margin-right: 10px;
    display: none;
    overflow: scroll;
}

#notification {
    display: none;
    font-size: 15px;
    padding: 5px;
    height: 25px;
    margin: 5px;
    /* background-color: orange; */
}

#notification .success, #notification .error {
    border: 1px solid #dddddd;
    padding: 5px;
    height: 15px;
    margin: 0px;
}

#notification .success {
    background: lightgreen;
}

#notification .error {
}

#svg {
    margin: 5px;
}

#save {
    margin: 5px;
}

/* CodeMirror Style Override */

.CodeMirror {
    border: solid black 1px;
    margin: 5px;
    margin-right: 10px;
    min-width: 100px;

    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.CodeMirror-scroll {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
}

.cm-s-solarized.cm-s-light .CodeMirror-selected {
    background: #d7d4f0;
    /*background: #eee8d5;*/
    color: inherit;
}

.error-mark {
    color: red !important;
    text-decoration: underline;
}

