html {
}

body {
    text-align: left;
    font-family: Helvetica;
    color: #555;
}

div {
}

table {
    width: 100%;
}

h1 {
    font-size: 35px;
}

h1 a {
    text-decoration: none;
    color: #555;
}

h1 a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 15px;
    color: #aaa;
    font-weight: normal;
}

h3 {
    font-size: 15px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

ul li a:hover {
    background: #eee;
}

label {
    font-weight: bold;
    font-size: 15px;
}

input[name=title] {
    width: 100%;
}

textarea[name=body] {
    width: 100%;
    height: 300px;
    font-size: 15px;
}

#confirmation-message {
    font-weight: bold;
    font-size: 15px;
    padding: 15px;
}

#login-dialog td {
    padding: 7px;
}

#signup-dialog td {
    padding: 7px;
}

#dialog-button-bar {
    float: right;
    padding: 7px;
}

#topbar {
    height: 80px;
    width: 100%;
    background-color: red;
}

#leftbar {
    width: 150px;
    height: 100%;
    background-color: blue;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
}

#rightbar {
    width: 100px;
    height: 200px;
    background-color: yellow;
}

#logo {
    float: left;
}

#user {
    float: right;
}

#main {
    width: 100%;
    background-color: green;
}

#app {
    background-color: lightgreen;
}

#chart {
  width: 49%;
  height: 100%;
  float: left;
}

#text {
  width: 49%;
  height: 100%
  float: right;
}

#notification {
    height: 25px;
    font-size: 15px;
    background-color: orange;
}

#notification .success, #notification .error {
    color: green;
    width: 100%;
    border: 1px solid #ddd;
    background: #eee;
    padding: 5px;
}

#notification .error {
    color: red;
}
