script#signup-template(type="text/template")
  #signup-dialog
    table
      tr
        td
          label(for="email") Email:
        td
          input#email(type="text")
          br
      tr
        td
          label(for="password") Password:
        td
          input#password(type="password")
      tr
        td(colspan=2, style="text-align: center") - or -
      tr
        td(colspan=2, style="text-align: center")
          #facebook Log In with Facebook
      tr
        td(colspan=2)
          #dialog-button-bar
            button#cancel Cancel :(
            button#signup Sign Up!
