script#svg-preview-template(type="text/template")
  #svg-preview-dialog
    table
      tr
        td(rowspan=2)
          | <iframe id="svg-preview-iframe" src="<%= url %>"></iframe>
        td.
          &nbsp;<br/>
          Right-click <a href="<%= url %>">here</a> and choose "Save Link As...".<br/>
          &nbsp;<br/>
          If you're using a trackpad, it's usually 2-finger click.<br/>
          &nbsp;<br/>
          Or you can hold down "control" while you click.<br/>
          &nbsp;<br/>
      tr
        td
          #dialog-button-bar
            button#okay Okay
