script#about-template(type="text/template")
  #about-dialog
    table
      tr
        td.
          KnitPlot is an open source app for making knitting pattern charts.
          For feedback or bug reports, email bklimt@gmail.com.
      tr
        td
          #dialog-button-bar
            button#okay Okay
