script#chart-template(type="text/template")
  form
    table
      tr
        td(style="vertical-align: middle")
          label(for="title") Title:
          input#title(type="text")
        td(style="vertical-align: middle; text-align:right")
          button#svg Open&nbsp;SVG
          button#delete Delete
          button#save <%= model.isNew() ? "Create" : "Save" %>
      tr
        td(rowspan=2)
          center
            #chart
        td
          textarea#text(rows=25, cols=35)
      tr
        td
          #errors.ui-state-error
      tr
        td(colspan=2)
          center
            #library
    div(style="clear: both")
