script#need-to-sign-up-template(type="text/template")
  #need-to-sign-up-dialog
    table
      tr
        td.
          You need to sign up or log in to save your chart.
          Look in the upper right corner.
      tr
        td
          #dialog-button-bar
            button#okay Okay
