    <script type="text/template" id="need-to-sign-up-template">
      <div id="need-to-sign-up-dialog">
        <table>
          <tr>
            <td>
              You need to sign up or log in to save your chart.
              Look in the upper right corner.
            </td>
          </tr>
          <tr>
            <td>
              <div id="dialog-button-bar">
                <button id="okay">Okay</button>
              </div>
            </td>
          </tr>
      </div>
    </script>
