    <script type="text/template" id="signup-template">
      <div id="signup-dialog">
        <table>
          <tr>
            <td>
              <label for="email">Email: </label>
            </td><td>
              <input id="email" name="email" type="text"></input><br/>
            </tr>
          </tr>
          <tr>
            <td>
              <label for="password">Password: </label>
            </td><td>
              <input id="password" name="password" type="password"></input><br/>
            </tr>
          </tr>
          <tr>
            <td colspan="2">
              <div id="dialog-button-bar">
                <button id="cancel">Cancel :(</button>
                <button id="signup">Sign Up!</button>
              </div>
            </tr>
          </tr>
        </table>
      </div>
    </script>
